@model CapaModelo.Ventas
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12">
    <div class="card-body">
        <form class="centered-form">
            <input type="hidden" class="form-control form-control-sm" id="txtid" name="id_Venta">
            <div class="row mt-3 border-info">
                <div class="col-sm-6 offset-sm-3">
                    <div class="form-group row mb-3">
                        <label for="txtNfactura" class="col-sm-4 col-form-label col-form-label-sm">Nº Factura:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="txtNfactura" name="NFactura">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="txtNombre" class="col-sm-4 col-form-label col-form-label-sm">Nombre:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="txtNombre" name="Nombre">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="txtFecha" class="col-sm-4 col-form-label col-form-label-sm">Fecha:</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control form-control-sm" id="txtFecha" name="fecha_Venta">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="txtid_Empleado" class="col-sm-4 col-form-label col-form-label-sm">Empleado:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="txtid_Empleado" name="id_Empleado">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-info btn-sm">...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="txtIVA" class="col-sm-4 col-form-label col-form-label-sm">IVA:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="txtIVA" name="IVA">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="txtDescuento" class="col-sm-4 col-form-label col-form-label-sm">Descuento:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="txtDescuento" name="Descuento">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="txtSubtotal_Venta" class="col-sm-4 col-form-label col-form-label-sm">Subtotal:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="txtSubtotal_Venta" name="Subtotal_Venta">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="txtTotal" class="col-sm-4 col-form-label col-form-label-sm">Total:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="txtTotal" name="Total">
                        </div>
                    </div>
                    <div class="form-group row justify-content-end">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
                            <button type="reset" class="btn btn-secondary btn-sm">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="content-wrapper" style="padding:10px">
    <div class="col-sm-12">
        <div class="card border-info">
            <div class="card-header bg-info text-white">
                Lista Detalle
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbdata" class="table table-striped table-bordered nowrap compact" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nº Factura</th>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th>Empleado</th>
                                <th>IVA</th>
                                <th>Descuento</th>
                                <th>Subtotal</th>
                                <th>Total</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary btn-sm">Guardar Todo</button>
                        <button type="reset" class="btn btn-secondary btn-sm">Cancelar Todo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
